<div ng-controller="preferenceFormCtrl as ctrl">
<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Name</label>
        <input ng-model="userDetails.name" disabled> 
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input ng-model="userDetails.password" disabled>
      </md-input-container>
      <md-input-container>
        <label>Title</label>
        <input ng-model="userDetails.title" disabled>
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input ng-model="userDetails.email" type="email" disabled>
      </md-input-container>
      <md-input-container>
        <label>Phone</label>
        <input ng-model="userDetails.email" type="email" disabled>
      </md-input-container>
    </div>
  </md-content>
  <md-content layout-padding>
    <div>
      <md-input-container>
        <label>Picture</label>
      </md-input-container>
      <form name="userForm">
        <div layout-gt-xs="row"> Available Dates
          <md-datepicker md-placeholder="Enter date">
          </md-datepicker>
        </div>
        <div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cuisine</label>
            <md-select ng-model="user.cuisine">
              <md-option ng-repeat="cuisine in cuisines">
                {{cuisine}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Tagline</label>
          <textarea ng-model="userDetails.tagline" columns="1" md-maxlength="150" rows="2"></textarea>
        </md-input-container>
      </form>
    </div>
  </md-content>
</div>