<html lang="en" >

<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
</head>

<body ng-app="lunchedIn" ng-controller="UserDisplay" ng-cloak>
	  
	  <md-sidenav flex layout="column" class="md-sidenav" md-is-locked-open=$mdMedia('min-width: 300px')>
	      <md-button class="md-accent">Button 1</md-button> <br>
	      <md-button class="md-accent">Button 2</md-button>
	  </md-sidenav>


        <div ng-repeat="user in users | orderBy: '-level' ">
			<div flex="50" layout="column">
			     <md-card>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">{{user.name}}</span>
			            <span class="md-subhead">{{user.title}}</span>
			          </md-card-title-text>
			          <md-card-title-media>
			            <div class="md-media-sm card-media"></div>
			          </md-card-title-media>
			        </md-card-title>
			        <md-card-actions layout="row" layout-align="end center">
			          <md-button>Action 1</md-button>
			          <md-button>Action 2</md-button>
			        </md-card-actions>
			        <md-card-footer>
						   {{user.phone}}
					</md-card-footer>
			      </md-card>
			 </div>	
		</div>

		<div>
		    	<form ng-submit="addUser()">
				  <input type="text" ng-model="name"> Name </input> <br>
				  <input type="text" ng-model="title"> Title </input> <br>
				  <input type="text" ng-model="level"> Level </input> <br>
				  <input type="text" ng-model="phone"> Phone </input> <br>
				  <md-button class="md-raised">Add User!</md-button>
				</form>
		</div>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

  <script src="app.js"></script>
</body>

</html>

