<div class='container-fluid'>
  <div class='row page-section' id='home'>

      <div class='col-sm-1 col-xs-hidden'></div>
      
      <div class='col-sm-10'>

        <div class='row'>
          <img id='lunchedin' src='../assets/images/lunchedin-white.png'></img>
        </div>
                
        <div  class='row' id='tagline'>Connecting Colleagues with Cuisines. Automagically.</div>
        

        
        <div  class='row' id="loginForm">
          <form id='logininBlk' class="form-inline" role="form" method="post" action="/login">
              <div class="form-group">
                <input type="email" class="form-control" name="username" placeholder="Enter your Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Enter your Password">
              </div>         
              <button type="submit" class="btn btn-default"> Sign In </button>
          </form>
          <div  class='row' id='terms'>By clicking "Sign In", you agree to our <a target="_blank" href="http://www.trylunchedin.com/privacy.html">Privacy Policy</a>.</div>
        </div>

        <i class="fa fa-angle-down fa-3x faa-vertical animated" aria-hidden="true" style="color: #fff; position: relative; bottom: 10px;"></i>

      </div>
      
      <div class='col-sm-1 col-xs-hidden'></div>

  </div>

  <div class='row' id='clients'></div>

  <div class="row page-section" id='intro'>
    
    <div>
      <h1>Hi, I'm Eva</h1>   
      <p>Your personal assistant 'bot' to help you get to know your colleagues better. You tell me your preferences and I'll 
         help you meet your colleagues over lunch at a restaurant near you that serves your favourite food.</p>
      <p>No apps. No plug-ins. No downloads. All you do is:</p>
      <br>
      <p><b> respond to eva@trylunchedin.com </b></p>

    

    </div> 

    <br><br>
    <i class="fa fa-angle-down fa-5x faa-vertical animated" aria-hidden="true" style="color: #ccc;"></i>

  </div>

  <div class="row" id='howitworks'>

      <h1>How It Works</h1>   

      <div class='row'>
        <div class='col-sm-4'>
          <img style="width: 200px; height: 200px;" src='assets/images/how-it-works_1.png'/>
        </div>
        <div class='col-sm-8 description'>
          <p>You want to meet new people and grow your network over lunch hour, but don't know when, where and how?</p>
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-4'>
          <img style="width: 200px; height: 200px;" src='assets/images/how-it-works_2.png'/>
        </div>
        <div class='col-sm-8 description'>
          <p>Enter Eva. You tell her your preferences and let her know if you are available for lunch that day.</p>
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-4'>
          <img style="width: 200px; height: 200px;" src='assets/images/how-it-works_3.png'/>
        </div>
        <div class='col-sm-8 description'>
          <p>Understanding your preferences, Eva finds you suitable colleagues with whom you can lunch at a restaurant near you.</p>
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-4'>
          <img style="width: 200px; height: 200px;" src='assets/images/how-it-works_4.png'/>
        </div>
        <div class='col-sm-8 description'>
          <p>Automagically, the invitation arrives in your inbox before lunch.</p>
        </div>
      </div>

  </div>


  <div class="row" id='footer'>
      
      <h1 class='text-center'>Our Team</h1>

      <br><br>

      <div class="col-sm-6 people text-center">
          <img src='../assets/images/vignesh.jpg' style="width: 150px; height: 150px;"></img>
          <h5><b> Vignesh Kaushik </b></h5>
          <h6> Product (Founder) </h6>
      </div>

      <div class="col-sm-6 people text-center">
          <img src='../assets/images/nittin.jpg' style="width: 150px; height: 150px;"></img>
          <h5><b> Nittin Vignesh </b></h5>
          <h6> Market Research </h6>
      </div>
      
  </div>

  <div class="row" id='links'>
    
    <span><a href='#home'>HOME</a></span>
    <span><a href='#howitworks'>HOW IT WORKS</a></span>
    <span><a href='#footer'>ABOUT</a></span>
    <span><a href='mailto:trylunchedin@gmail.com'>CONTACT</a></span>
    <span><a href='/' target="_blank">FEEDBACK</a></span>
    
    <br><br>
    <span><a target="_blank" href="http://www.trylunchedin.com/privacy.html">Privacy Policy</a></span>

  </div>
</div>


<script>
$( document ).click(function() {
  $( "#arrow" ).toggle( "bounce", { times: 3 }, "slow" );
});
</script>
