  <video autoplay  id="bgvid" loop>
    <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/1453/6/157269920/489780589.mp4?token=57337f5a_0x6c7f418c252da7df1bf63010d92d34f244383e80" type="video/mp4">
  </video>

   
<!--     <form id='loginForm' role="form" method="post" action="/login">
      <div class=" form-group">
        <input type="email" class="form-control" name="username" placeholder="Enter Email">
      </div>
      <div class=" form-group">
        <input type="password" class=" form-control" name="password" placeholder="Enter Password">
      </div>         
      <button type="submit" class="btn btn-info btn-lg btn-block btn-danger"> Log In </button>
    </form> -->
    
  <div class='row text-center' id='intro'>
    <div class='col-sm-4 fade-in one'><div id='people'>People</div></div>
    <div class='col-sm-4 fade-in three'><img id='lunchedin' src='../assets/images/logo.png'></img></div>
    <div class='col-sm-4 fade-in two'><div id='food'>Food</div> </div>
  </div>
    



  <div id='clients'></div>

  <div id='about' class='page-section'></div>

  <div id='howitworks'  class='page-section'></div>

  <footer class="container-fluid full-page-padding bg-grey" id='contact'>
    <div class=" row">
      <div class=" col-sm-7"></div>
      <div class=" col-sm-5 text-right">
        <h4>We would love to hear from you.</h4>
        <p><span class=" glyphicon glyphicon-map-marker"></span> Singapore </p>
        <p><span class=" glyphicon glyphicon-phone"></span> +00 1515151515</p>
        <p><span class=" glyphicon glyphicon-envelope"></span> admin@trylunchedin.com</p> 
      </div>
    </div>
  </footer>

<script>
  $(document).ready(function(){
    
  });
</script>

