<div id='mates_userView' ng-show=!loggedInUser.adminStatus>
  <md-button ng-click="saveMates()"> Save </md-button>
  <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height md-border-bottom md-no-ink>
      <md-tab ng-repeat="tab in tabs" label="{{tab.title}}"> 
          <div class='md-padding' layout="row" layout-wrap flex>
            <!-- <md-card ng-repeat="user in (selectedUsers.length ? selectedUsers : querySearch(tab.title)) "> -->
            
<!--             <md-card ng-repeat="user in users" style="width: 25%; height: 45%"  ng-show="checkInitial(tab.title, user.name)" >
                <div class='contactCards' classlayout='column'>
                  <center>
                  <div class='contactCards' id='username'><b><br>
                      {{user.name}}
                      </b>
                      <br>
                      <i class='contactCards' id='usertitle'>{{user.title}}<i>
                      <div ng-show="containsObject(user, 'known')"> Known user </div>
                      <div ng-show="containsObject(user, 'blocked')"> Blocked user </div>

                  </div> 
                  <br>
                  <div class='contactCards' id='userpicture'>
                      <ng-md-icon ng-attr-icon='perm_identity' size="40"></ng-md-icon>
                  </div>
                  <div class='contactCards' id='usertagline'>
                    "{{user.tagline}}"
                  </div>

                  <div class='contactCards' id='btn-user-sel-placeholder'>
                      <md-button ng-click="addToList(user, 'known')"> Add to Known </md-button>
                      <md-button ng-click="addToList(user, 'blocked')"> Block </md-button>
                  </div>

                </div>
                </center>
            </md-card>
 -->
        </div> 
      </md-tab>
  </md-tabs>
</div>