<div style:"width:60px; height:60px">
<script>
	
	function initMap() {
		  	
		var coordinates = {{ location.latLong }};
		  	
	  	var pointA = new google.maps.LatLng(1.2744465, 103.8421503),
	    pointB = new google.maps.LatLng( coordinates[0], coordinates[1] ),
	    myOptions = {
	      zoom: 7,
	      center: pointA
	    },
	    map = new google.maps.Map(document.getElementById('map-canvas'), myOptions),
	    // Instantiate a directions service.
	    directionsService = new google.maps.DirectionsService,
	    directionsDisplay = new google.maps.DirectionsRenderer({
	      map: map
	    }),
	    markerA = new google.maps.Marker({
	      position: pointA,
	      title: "point A",
	      label: "A",
	      map: map
	    }),
	    markerB = new google.maps.Marker({
	      position: pointB,
	      title: "point B",
	      label: "B",
	      map: map
	    });

	  // get route from A to B
	  calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

	}



	function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
	  directionsService.route({
	    origin: pointA,
	    destination: pointB,
	    travelMode: google.maps.TravelMode.DRIVING
	  }, function(response, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(response);
	    } else {
	      window.alert('Directions request failed due to ' + status);
	    }
	  });
	}

	initMap();
</script>
</div>