<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 15px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table {
    width: 50%;
}
th {
    background-color: #4CAF50;
    color: white;
    height: 50px;
}
</style>

<div id='match_userView' ng-show=!loggedInUser.adminStatus>
	<md-divider></md-divider>

	<md-toolbar class="md-theme-light" md-scroll-shrink>
	    <h2 class="md-toolbar-tools">
	      <span>Today's Match</span>
	    </h2>
	</md-toolbar>

	<div ng-show='today != undefined'>
		
	<div layout='row' layout-padding layout-fill layout-wrap>	
		<div layout="column" >
		<div ng-repeat = "user in today.participants">  
			<md-card id="participants">
				<center>

					<md-card-title-media class='padding'>
			            <div class="md-media-sm card-media"><img src="http://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg" alt="" class="image--cover" /></div>
			        </md-card-title-media>
				   	
			            <h2><b>{{ user.name }}</b></h2>
			            <h3>{{ user.title }}</h3>
			            <h3><i>{{ user.tagline }}</i></h3>

		    	</center>
		    </md-card>
	 	</div> 
	 	</div>

	 	<div layout='column'>

				<md-card id='date'>
					<md-card-content>
					   <p>{{ today.date.substr(0,10) }} </p>
					</md-card-content>
				</md-card>

				<md-card id='time'>
					<md-card-content>
					   <p>13 : 00 PM</p>
					</md-card-content>
				</md-card>


			<md-card>
				<md-card-content>
				   <p>Notes:</p>
				</md-card-content>
			</md-card>
		</div>

		<div layout='column'>
		<md-card id="map">
			{{ today.location.name }}
			<br><br>
			<div id='map-canvas' style = "width: 100%; height: 100%; z-index: 10"></div>
			
			<script>
				
				function initMap() {
					  	
				  	var pointA = new google.maps.LatLng(1.2744465, 103.8421503),
				    pointB = new google.maps.LatLng(1.31014298, 103.81468448),
				    myOptions = {
				      zoom: 7,
				      center: pointA
				    },
				    map = new google.maps.Map(document.getElementById('map-canvas'), myOptions),
				    // Instantiate a directions service.
				    directionsService = new google.maps.DirectionsService,
				    directionsDisplay = new google.maps.DirectionsRenderer({
				      map: map
				    }),
				    markerA = new google.maps.Marker({
				      position: pointA,
				      title: "point A",
				      label: "A",
				      map: map
				    }),
				    markerB = new google.maps.Marker({
				      position: pointB,
				      title: "point B",
				      label: "B",
				      map: map
				    });

				  // get route from A to B
				  calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

				}



				function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
				  directionsService.route({
				    origin: pointA,
				    destination: pointB,
				    travelMode: google.maps.TravelMode.DRIVING
				  }, function(response, status) {
				    if (status == google.maps.DirectionsStatus.OK) {
				      directionsDisplay.setDirections(response);
				    } else {
				      window.alert('Directions request failed due to ' + status);
				    }
				  });
				}

				initMap();
			</script>
			
		</md-card>
	    </div>

	</div>

	<md-button> Cancel this Lunch </md-button>

	<!----History -->
	<md-toolbar class="md-theme-light" md-scroll-shrink>
	    <h2 class="md-toolbar-tools">
	      <span>History</span>
	    </h2>
	</md-toolbar>

	<md-content style="height: 600px;" md-theme="altTheme">
	<section>
	    <md-subheader class="md-primary">Previous Lunches</md-subheader>
		<md-list layout-padding>
			<md-list-item class="md-3-line" ng-repeat="match in matches"> 
			<div class="md-list-item-text">
				<h2> {{ match.date.substr(0,10) }} </h2>
				<h3> {{ match.location }} </h3>
				<span ng-repeat = "user in today.participants"> {{ user.name }} </span>
			</div>
	   	 	<md-divider></md-divider>
	      	</md-list-item>
	    </md-list>
	</section>

	<section>
	    <md-subheader class="md-primary">Missed Lunches</md-subheader>
		<md-list layout-padding>
			<md-list-item class="md-3-line" ng-repeat="match in matches"> 
			<div class="md-list-item-text">
				<h2> Date </h2>
				<h3> Location </h3>
				<span ng-repeat = "user in today.participants"> User </span>
			</div>
	   	 	<md-divider></md-divider>
	      	</md-list-item>
	    </md-list>
	</section>

	</md-content>

	</div>
</div>

<div id='match_adminView' ng-show=loggedInUser.adminStatus>
  <h3><center> Matches Panel </center></h1>
  <md-button ng-click=match()> Match! </md-button>
  <md-button ng-click=getMatches()> Get Matches! </md-button>
  <div>
    <table> 
        <th>Date</th>
        <th>Participants</th>
        <th>Dropouts</th>
        <th>Locations</th>
        <tr ng-repeat="match in matches">
          <td>{{ match.date }} </td>
          <td><div ng-repeat="participant in match.participants">{{ participant.name }} </div></td>
          <td>{{ march.dropouts }}</td>
          <td>{{ restaurant.location }} </td>
        </tr>
    </table>
  </div>

</div>


