<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />

<center>
	<md-card id="participants" layout wrap>
		<div ng-repeat = "user in today.participants">  
			<img src="http://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg" alt="" class="image--cover" />
		   	<div>{{ user.name }}</div>
	 	</div>
	</md-card>
</center>

<center>
	<md-card id='date'>
		<b>Date:</b> {{ today.date.substr(0,10) }} 
	</md-card>
	<md-card id='time'>
		<b>Time:</b> {{ today.date.substr(11, 17) }} 
	</md-card>
</center>

<center>
	<md-card id="map">
		{{ today.location.name }}
		<br><br>
		<div id='map-canvas' style = "width: 100%; height: 100%; z-index: 10"></div>
		
		<script>
			
			function initMap() {
				  	
			  	var pointA = new google.maps.LatLng(1.2744465, 103.8421503),
			    pointB = new google.maps.LatLng(1.31014298, 103.81468448),
			    myOptions = {
			      zoom: 7,
			      center: pointA
			    },
			    map = new google.maps.Map(document.getElementById('map-canvas'), myOptions),
			    // Instantiate a directions service.
			    directionsService = new google.maps.DirectionsService,
			    directionsDisplay = new google.maps.DirectionsRenderer({
			      map: map
			    }),
			    markerA = new google.maps.Marker({
			      position: pointA,
			      title: "point A",
			      label: "A",
			      map: map
			    }),
			    markerB = new google.maps.Marker({
			      position: pointB,
			      title: "point B",
			      label: "B",
			      map: map
			    });

			  // get route from A to B
			  calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

			}



			function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
			  directionsService.route({
			    origin: pointA,
			    destination: pointB,
			    travelMode: google.maps.TravelMode.DRIVING
			  }, function(response, status) {
			    if (status == google.maps.DirectionsStatus.OK) {
			      directionsDisplay.setDirections(response);
			    } else {
			      window.alert('Directions request failed due to ' + status);
			    }
			  });
			}

			initMap();
		</script>
		
	</md-card>
</center>

<center>
	<md-card id='history' ng-repeat="match in matches" layout wrap>
		On <br> {{ match.date.substr(0,10) }}  {{ match.date.substr(11, 17) }}  At {{ match.location }}
		<div class="wrapper" ng-repeat = "user in match.participants">
			<img id='history_ptp' src="http://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg"/>
			<div>{{ user.name }}</div>
	   	</div>
	</md-card>
</center>

</center>
