<div id='pref_for_user' ng-show=!loggedInUser.adminStatus>
  <div layout="column" ng-cloak class="md-inline-form">

    <div layout="row">
    <md-content class="md-padding" layout-xs="column" layout="column" >     
        <md-card class='pref'>
                <md-card-title-media >
                    <div class="md-media-sm card-media"><img src="http://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg" alt="" class="userpicture" /></div>
                </md-card-title-media>
                <md-input-container>
                  <label>Picture</label>
                  <input ng-model="userDetails.picture">
                </md-input-container>
        </md-card>

    </md-content>

    <md-content class="md-padding" layout-xs="column" layout="column">    
        
        <md-card class='pref'>
                <md-input-container>
                  <label>Name</label>
                  <input ng-model="userDetails.name" disabled> 
                </md-input-container>
        </md-card>

        <md-card  class='pref'> 
                <md-input-container>
                  <label>Title</label>
                  <input ng-model="userDetails.title" disabled>
                </md-input-container>
        </md-card>

        <md-card  class='pref'>
                <md-input-container>
                  <label>Email</label>
                  <input ng-model="userDetails.email" type="email" disabled>
                </md-input-container>
        </md-card>


    </md-content>

    <md-content class="md-padding" layout-xs="column" layout="column" >    
        
        <md-card class='pref'>
                <md-input-container>
                  <label>Phone</label>
                  <input ng-model="userDetails.phone">
                </md-input-container>
        </md-card>

        <md-card class='pref'>
                <md-input-container>
                  <label>Password</label>
                  <input ng-model="userDetails.password">
                </md-input-container>
        </md-card>

        <md-card class='pref'>
                <md-input-container>
                  <label>Tagline</label>
                  <input ng-model="userDetails.tagline">
                </md-input-container>
        </md-card>

    </md-content>

    </div>

    <md-button ng-click=editUserPreference()>Save!</md-button>
      
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span> Lunch Preferences</span>
        </h2>
    </md-toolbar>

    <md-subheader>Cuisine Preference </md-subheader>
      <md-card>
          <div layout="row" layout-wrap>
            <div flex="50" flex-gt-sm="100" layout="column">
              <div>
                <fieldset class="standard" >
                    <div layout="row" layout-wrap flex>
                      <div flex="15" ng-repeat="cuisine in cuisines" >
                        <md-checkbox ng-checked="exists(cuisine.name, userDetails.cuisine)" ng-click="toggle(cuisine.name, userDetails.cuisine)">
                          {{ cuisine.name }} 
                        </md-checkbox>
                      </div>
                    </div>
                  </fieldset>
              </div>
            </div>
          </div>
      </md-card>

    <md-subheader>Availability</md-subheader>
      <md-card>
          <div layout="row" layout-wrap>
            <div flex="50" flex-gt-sm="100" layout="row">
              <div>
                <fieldset class="standard" >
                    <legend><b>Availablity</b></legend>
                    <div layout="row" layout-wrap flex>
                      <div flex="35" ng-repeat="day in days" >
                        <md-checkbox ng-checked="exists(day, userDetails.available)" ng-click="toggle(day, userDetails.available)">
                          {{ day }} 
                        </md-checkbox>
                      </div>
                    </div>
                  </fieldset>
              </div>
            </div>
          </div>
      </md-card>
     

  </div>
</div>


<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 15px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table {
    width: 50%;
}
th {
    background-color: #4CAF50;
    color: white;
    height: 50px;
}
</style>
<div id='pref_for_admin' ng-show=loggedInUser.adminStatus>
  Cuisine List <br>
  {{ cuisines }} <br>
  Adding Cuisine: {{ newCuisine }}
  <md-input-container>
      <input type="text" ng-model="newCuisine" aria-label="cuisineName"></input> 
  </md-input-container>
  <md-button ng-click="addCuisine()"> Add Cuisine </md-button>

  <br><br>
  
  Restaurant Table
  <h3><center> User Panel </center></h1>

  <div>
    <table> 
        <th>Add</th>
        <th>Delete</th>
        <th>Code</th>
        <th>Name</th>
        <th>Cuisine</th>
        <th>Scheduled</th>
        <th>Total</th>
        <tr>
          <td> <md-button ng-click="addNewRestaurant()"> Add Restaurant </md-button> </td>
          <td></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.code" aria-label="code">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.name" aria-label="name">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.cuisine" aria-label="cuisine">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.scheduled" aria-label="availability">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newUser.total" aria-label="blocked">  </input> </md-input-container></td>
        </tr>
        <tr ng-repeat="restaurant in restaurants">
          <td></td>
          <td><md-button ng-click="deleteRestaurant( restaurant.code )"> Delete Restaurant </md-button> </td>
          <td>{{ restaurant.code }} </td>
          <td>{{ restaurant.name }} </td>
          <td>{{ restaurant.cuisine }}</td>
          <td>{{ restaurant.scheduled }} </td>
          <td>{{ restaurant.total }} </td>
        </tr>
    </table>
  </div>
</div>