<div class='adminViewContainer dashboard-header'> 
  <div layout="row"> 
    <div flex='66' class="details" layout="column">
      <span>{{ selectedRestaurant.name }} </span>
      <span>Code: {{ selectedRestaurant.code }} </span>
      <span>Address: {{ selectedRestaurant.address }}</span>
      <span>Zip: {{ selectedRestaurant.zip }}</span>
      <span>Price: {{ selectedRestaurant.price }}</span>
      <span>Phone: {{ selectedRestaurant.phone }}</span>
      <span>Halal: {{ selectedRestaurant.halal }}</span>
      <span>Veg: {{ selectedRestaurant.veg }}</span>
      <span>Cuisine: <ul><li ng-repeat=" cuisine in selectedRestaurant.cuisine">{{ cuisine }}</li></ul></span>
      <span>Scheduled: {{ selectedRestaurant.scheduled }}</span>
      <span>Total: {{ selectedRestaurant.total }}</span>
    </div>
    <div flex='33'>
        <div layout="column">
        <div flex ng-repeat="restaurant in restaurants" class='userList'>
          <div class='userbox' ng-click="$parent.selectedRestaurant = restaurant">{{ restaurant.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>