<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 15px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table {
    width: 50%;
}
th {
    background-color: #4CAF50;
    color: white;
    height: 50px;
}
</style>
<div class='adminViewContainer' id='pref_for_admin' ng-show=loggedInUser.adminStatus>
  <div class='adminInnerContainer'>
    Cuisine List <br>
    {{ cuisines }} <br>
    Adding Cuisine: {{ newCuisine }}
    <md-input-container>
        <input type="text" ng-model="newCuisine" aria-label="cuisineName"></input> 
    </md-input-container>
    <md-button ng-click="addCuisine()"> Add Cuisine </md-button>
  </div>

  <br>
  <br>

  <div class='adminInnerContainer'>
  <h3><center> Restaurants </center></h1>
      <md-card ng-repeat="restaurant in restaurants">
        {{ restaurant.code }} 
        {{ restaurant.name }} 
        {{ restaurant.cuisine }}
        {{ restaurant.scheduled }}
        {{ restaurant.total }} 
      </md-card>
      <md-button ng-click='refreshRestaurantList()'>Refresh</md-button>
  </div>
</div>