<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 15px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table {
    width: 50%;
}
th {
    background-color: #4CAF50;
    color: white;
    height: 50px;
}
</style>
<div id='pref_for_admin' ng-show=loggedInUser.adminStatus>
  Cuisine List <br>
  {{ cuisines }} <br>
  Adding Cuisine: {{ newCuisine }}
  <md-input-container>
      <input type="text" ng-model="newCuisine" aria-label="cuisineName"></input> 
  </md-input-container>
  <md-button ng-click="addCuisine()"> Add Cuisine </md-button>

  <br><br>
  
  Restaurant Table
  <h3><center> User Panel </center></h1>

  <div>
    <table> 
        <th>Add</th>
        <th>Delete</th>
        <th>Code</th>
        <th>Name</th>
        <th>Cuisine</th>
        <th>Scheduled</th>
        <th>Total</th>
        <tr>
          <td> <md-button ng-click="addNewRestaurant()"> Add Restaurant </md-button> </td>
          <td></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.code" aria-label="code">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.name" aria-label="name">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.cuisine" aria-label="cuisine">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newRestaurant.scheduled" aria-label="availability">  </input> </md-input-container></td>
          <td> <md-input-container><input type="text" ng-model="newUser.total" aria-label="blocked">  </input> </md-input-container></td>
        </tr>
        <tr ng-repeat="restaurant in restaurants">
          <td></td>
          <td><md-button ng-click="deleteRestaurant( restaurant.code )"> Delete Restaurant </md-button> </td>
          <td>{{ restaurant.code }} </td>
          <td>{{ restaurant.name }} </td>
          <td>{{ restaurant.cuisine }}</td>
          <td>{{ restaurant.scheduled }} </td>
          <td>{{ restaurant.total }} </td>
        </tr>
    </table>
  </div>
</div>