

  <div class='container-fluid user-dashboard'>

    <div class='row'>

      <!---borders-->
      <div class='xs-hidden col-sm-2'></div>
      

      <!---mainsection-->
      <div class='col-sm-8 dashboard-main'>

        <div class='jumbotron row dashboard-header'>
            <div class='col-sm-4 text-left'>LOGO</div>

            <div class='col-sm-4 text-center'>User's Dashboard</div>

            <div class='col-sm-4 text-right'><button class='btn btn-primary pull-right' ng-click="updateUser(active_user)">Save</button></div>
        </div>

    
        <!--beginning of card-->
        <h3 class='page-header' id='user_card'>{{ active_user.name  }}, your Card -</h3>
        
        <div class='row'>
          
          <!-- user card display! -->
          <div class='col-sm-4'>
            <div class='card panel panel-default'>
                <div class='panel-heading card-heading'>
                  <h4 style='margin-bottom:0'>{{ active_user.name }}</h4>
                  <em>{{ active_user.title }}</em>
                  </div>           
                  <div class='panel-body card-body'>
                    <img ng-src="{{active_user.picture}}">{{active_user.picture}}
                    <div class='file-upload'></div>

                  <p class='text-center bottom-align'><i class="fa fa-quote-left"></i> {{ active_user.tagline }} 
                  <hr style='padding:0; margin:0'>
                  </p>
                  <p class='text-center bottom-align'><span class="glyphicon glyphicon-phone"></span> {{ active_user.phone }} 
                  </p>
                </div>
            </div>
          </div>

          <div class='col-sm-8'>
              <div class='row'>
                <div class='col-sm-6'>
                  <md-input-container>
                    <label>Name</label>
                    <input ng-model="active_user.name" disabled>
                  </md-input-container>
                  <md-input-container>
                    <label>Email</label>
                    <input ng-model="active_user.email" disabled>
                  </md-input-container>
                  <md-input-container>
                    <label>Phone</label>
                    <input ng-model="active_user.phone">
                  </md-input-container>
                </div>
                <div class='col-sm-6'>
                  <md-input-container>
                    <label>Title</label>
                    <input ng-model="active_user.title">
                  </md-input-container>
                  <md-input-container>
                    <label>Password</label>
                    <input ng-model="active_user.password">
                  </md-input-container>
                  <md-input-container>
                    <label>Nationality</label>
                    <input ng-model="active_user.nationality">
                  </md-input-container>
                </div>
              </div>
              <div class='row' style='margin:1%;'>  
                <md-input-container>
                  <label>You, in 50 characters!</label>
                  <textarea ng-model="active_user.tagline" md-maxlength="50" rows="1"></textarea>
                </md-input-container>
              </div>
          </div>

        </div>
        <!--end of card-->
        <hr id='pref'>
        
        <!--beginning of preferences-->    
        <h3 class='page-header'>Your Preferences</h3>
        <div class='row'>
          <md-checkbox ng-model='active_user.veg'> Are you Vegeterian?</md-checkbox>
          <md-checkbox ng-model='active_user.halal'> Do you prefer restaurants that serve Halal meat?</md-checkbox>
        </div>

        <br>

        <h4>Which cuisines do you like?</h4><br>
        <md-chips ng-model="active_user.cuisine"></md-chips>
        <br>
        <div class='row'>
          <div class='col-sm-2' ng-repeat='cuisine in cuisines'>
                  <div class='cuisine-card card panel panel-default'>
                      <div class='panel-heading card-heading'>
                        <button class='btn btn-info btn-sm' style='margin-bottom:0'  ng-model='active_user' ng-click='toggle(cuisine, active_user.cuisine)'
                        > {{ exists(cuisine, active_user.cuisine)? "x" : "+" }} {{cuisine}} </button>
                      </div>           
                      <div class='panel-body card-body'>                        
                        <img src='http://placehold.it/300x75' class='img-responsive'>
                      </div>

                  </div>
          </div>
        </div>

        <br>

        <h4>When are you free to lunch?</h4>
        <md-checkbox ng-repeat='day in days' ng-checked="exists(day, active_user.available)" ng-click="toggle(day, active_user.available)">{{day}}</md-checkbox>
        
        <!--end of preferences-->
        <hr  id='mates'>
        

        <!--beginning of mates--> 
        <h3>Let's select your lunchmates -</h3>
            <md-tabs md-border-bottom md-autoselect md-dynamic-height md-border-bottom md-no-ink>
                <md-tab ng-repeat="letter in letters" label="{{letter}}">
                    <div class='row'>
                      <div class='col-sm-4' ng-repeat="user in usersAlpha[letter]" ng-model='user'>
                        <div class='card panel panel-default'>
                            <div class='panel-heading card-heading'>
                              <h4 style='margin-bottom:0'>{{ user.name }}
                                <button class='btn btn-info pull-right' ng-model='user' ng-click='toggle(user._id, active_user.known)'
                                ng-disabled='exists(user._id, active_user.blocked)'>F</button>
                                <button class='btn btn-info pull-right' ng-model='user' ng-click='toggle(user._id, active_user.blocked)'
                                ng-disabled='exists(user._id, active_user.known)'>B</button>
                              </h4>
                              <em>{{ user.title }}</em>
                            </div>           
                            <div class='panel-body card-body'>
                              <img src='http://placehold.it/300x150' class='img-responsive'>
       
                              <p class='text-center'><i class="fa fa-quote-left"></i> {{ user.tagline }} 
                              
                              </p>
                            </div>
                            <div class='panel-footer'>
                              <p class='text-center' style='padding:0'>
                                <span class="glyphicon glyphicon-phone"></span> {{ user.phone }} 
                              </p>
                            </div>


                        </div>

                      </div>
                    </div>    
              </md-tab>                     
            </md-tabs> 



            
        
      </div>
      
      <!--border-->
      <div class='xs-hidden col-sm-2'></div>
    </div><!-- row end-->
  </div><!--container end-->

<script type="text/javascript">
$(document).ready(function(){  

  var element = angular.element($('#user_card'));
  var controller = element.controller();
  var scope = element.scope(); 

  
  $('.file-upload').append(
    $.cloudinary.unsigned_upload_tag("lunchedin_user", 
        { cloud_name: 'hzif3kbk7' }).bind('cloudinarydone', function(e, data) {

          scope.$apply(function(){
             scope.$parent.updateUserPicture(data.result.secure_url);
          });

        }));
})
</script>