html {
    font-family: 'Roboto', sans-serif;
    width:100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    background: grey;
}

body{
    height: 100%;
    background-image: url('..//images//background//loginPage1.jpg');
    background-size: cover;
    background-position: top-left;
    background-repeat: repeat-y;

    overflow: overlay; 
}

/************ CSS for Login Modal *************************/
#loginModule {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  margin-top: -200px;  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;  /*set to a negative number 1/2 of your width*/
  
}

h1#logo{
  -webkit-text-stroke: 2px  rgb(221, 71, 61);
  color: white;
  font-family: Georgia, Serif;
  font-size: 3.5em;
  font-weight: bolder;
}

#loginDialog{
  border: 1px solid #ccc;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  font-size: 1.0em;
  text-transform: none;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
}

.loginTabs md-tab-item{
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

#resetTab{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.loginBtn {
  font-family: 'Roboto', sans-serif;
  color : white;
  background-color: rgb(221, 71, 61);
  border-radius: 10px;
  font-size: 1.0em;
  text-transform: none;
  margin-left: 40%;
  opacity: 1.0;
}

.passwordMatchMessage{
    color: green;
    margin-left: 2%;
    font-family: 'Roboto', sans-serif;
}


/************************* CSS for Content *****************************************/

#content{
  position: absolute;
  left: 15%;
  width: 70%;
  height: 100%;
  background-color: #0c9d7c;
  font-family: Verdana, sans-serif;
}


/********** CSS for Dashboard ********************/
.dashboard-header{
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 15%;
  background-color: white;
  color: black;
  font-size: 1em;
  text-align: center;
}

.pageTitle{
  height: 30%;
  top: 25%;
  background-color: #0c9d7c;
  border: 4px solid #0c8d7c;
  color: white;
  font-size: 3em;
  text-align: left;
  padding: 3%;
}

.adminViewContainer{
  position: absolute;
  top: 55%;
  padding: 20px;
  background-color: white;
  height: 100%;
}

.userbox{
  height: 50px !important;
  border: 2px solid #0c8d7c;
  background-color: #0c8d7c;
  padding: 3%;
  margin: 2%;
  color: white;
  text-transform: uppercase;
}

.userbox:hover{
  background-color: #eee;
  z-index: 3;
}

.userDetails{
  background-color: #eee;
  text-align: left;
}

.userDetails span{
  border: 2px solid #0c8d7c;
  padding: 3%;
  margin: 1%;
}



