html {

}

body { 
  
}

.navbar {
    margin-bottom: 0;
    background-color: #12A6E9;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.hero-text{
  font-family: Helvetika, sans-serif;
  font-size: 58px;
  color: #fff;
  font-weight: bold;
  vertical-align: text-center;
}

.subtext{
  font-family: Helvetika, sans-serif;
  font-size: 18px;
  color: #939da3;
  line-height: 27px;
  vertical-align: text-center;
}

.description-text{
  font-family: Helvetika, sans-serif;
  font-size: 18px;
  color: #555;
  line-height: 26px; 
  vertical-align: text-center;
}

.color-grey{
  color: #777776;
}

.padded{
  padding: 15%;
  padding-top: 10%;
}

#home{
/*  background-image: url('..//images//background//loginPage3.jpg');
  background-size: cover;
  background-position: top-left;
  padding-top: 30% !important;*/
  background-color: #12A6E9;
  padding: 10%;
}

.full-page{
  height: 100vh;
}

.page-header{
  color: #2f6596;
}

.btn-info{
  background-color: #2f6596;
  border: 1px solid #2f6596;
}

.full-page-padding{
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.white-text{
  color: #2f6596;
  text-align: right;
}

.bg-grey{
  background-color: #ddd;
}

.right-border{
  border-right: 4px solid #2f6596;
}

#loginIn{
  width: 60%;
}

 .panel {
    border: 1px solid #2f6596; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

 .panel-footer .btn:hover {
    border: 1px solid #2f6596;
    background-color: #fff !important;
    color: #2f6596;
}

.panel-heading {
    color: #fff !important;
    background-color: #2f6596 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

 .panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

 .panel-footer .btn {
    margin: 15px 0;
    background-color: #2f6596;
    color: #fff;
}
.carousel{
  padding-left: 3%;
  padding-right: 3%;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    background: transparent;
    color: #888;
    width: 3%;
}

 .carousel-indicators li {
    border-color: #bbb;
}

.carousel-indicators li.active {
    background-color: #111;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


/*body{
  color: #666;
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}*/

.user-dashboard{
  background-color: #e5e5e5;
}

.dashboard-main{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0;
  padding-right: 2%;
  padding-left: 2%;
}

/*.carousel-caption{
  color: #222;
}*/

.card {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  border: none;
  height: 300px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-heading{
  padding: 1%;
  padding-left: 5%;
}

.card-body{
  padding: 0;
}

.card-body p{
  margin: 3%;
  position: relative;
}

.dashboard-header{
  margin: 0 !important;
  padding: 1%;
  border-radius: 0;
}

.bottom-align{
  position: absolute;
  bottom: 1%;
}

.cuisine-card{
  height: 75px;
}


/*
.user-card{
  
}

.user-card .selected{

}

.user-card .panel-heading{
  padding:0;
}

.user-card .panel-body{
  padding: 1%;
}

.user-card-frame{
  height: 600px !important;
}

.pagination-sm li{
  border-radius: 0px !important;
}

.contact-cards{
  height: 600px !important;
}
*/

input{
  font-size: 12px;
}