#noMatch{
	font-size: 26px;
	padding: 10px;
}

#participants{
	width: 250px;
/*	vertical-align: center;
	
	height: 25%;	
	font-size: 14px;
	padding: 10px;
	float: left;*/
}

#date{
	text-align: center;
	width: 200px;
/*	height: 10%;
	font-family: inherit;
	font-size: 16px;
	margin-left: 10px;
	float:left;*/
}

#time{
	text-align: center;
	width: 200px;
/*	height: 10%;
	font-family: inherit;
	font-size: 16px;
	display: block;
	margin-right: 10px;
	float: right;*/
}

#map{
	width: 460px;
	height: 370px;
}

.image--cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
/*  margin-right: 50px;
  margin-left: 30px;
  margin-bottom: 20px;*/

  object-fit: cover;
  object-position: center right;
}

#history{
	width: 80%;
	height: 15%;	
	font-size: 16px;
}

#history_ptp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 40px;
  margin-bottom: 20px;

  object-fit: cover;
  object-position: center right;
}