div.background {
    /*background: url("../images/background/officelunch.jpg");*/
    opacity: 0.4;
}

.md-toolbar{
    min-height: 10px;
    height: 40px;
    font-size: 10px;
}

.md-toolbar-tools{
    font-size: 14px;
    font-weight: 1;
    letter-spacing: 0.215em;
    height: 110%;
}

.mainIconBtn{
    min-width: 30px;
    width: 45px;
}

.contentArea{
	clear:both;
    left:15%;
    position:absolute;
    width:70%;
    height:900px;
    box-shadow: 0 0 3px #ccc;
}

.md-chip-template{
    font-size: 12px;
}

.contactCards{
    width: 150px;
    text-align: center;
}

.contactCards   #username{
        font-size: 14px;
        text-align: left;
        background-color: #E4D1D1;
        z-index: 4;
        height: 50px;
}

.contactCards    #usertitle{
        font-size: 12px
}

.contactCards    #userpicture{
        font-size: 12px
        height: 40%;
}

.contactCards   #usertagline{
       font-size: 12px
}

.contactCards  #btn-user-sel-placeholder{
    min-height: 10px;
    height: 40px;
    width: 40px;
}

