div.background {
    /*background: url("../images/background/officelunch.jpg");*/
    opacity: 0.4;
}

.contentArea{
	clear:both;
    left:15%;
    position:absolute;
    width:70%;
    height:900px;
    box-shadow: 0 0 3px #ccc;
}

.carddemoBasicUsage .card-media {
  background-color: #999999; }

.btn-primary {

}

.btn-danger {
    opacity: 0.2;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
    z-index: 2
}
